@page "/signin"

<h3>SignInPage</h3>

<EditForm EditContext="@_editContext" OnValidSubmit="@HandleValidSubmit">
    @if (!String.IsNullOrEmpty(_errorMessage))
    {
        <div>
            <p>@_errorMessage</p>
        </div>    
    }

    <div class="form-field">
        <label>Email:</label>
        <InputText @bind-Value="Model!.Email"/>
        <ValidationMessage For="@(() => Model.Email)"/>
    </div>
    <div class="form-field">
        <label>Password:</label>
        <InputText @bind-Value="Model!.Password" />
        <ValidationMessage For="@(() => Model.Password)" />
    </div>

    <div class="form-field">
        <button type="submit">
            Submit</button>
    </div>

    <p>Don't have an account? <a href="/signup">Sign Up Here</a></p>
</EditForm>

@inject IAuthenticationService _authenticationService
@inject NavigationManager _navigationManager;

@code {
    private EditContext? _editContext;
    private SignInDTO? Model;
    private string _errorMessage;

    protected override void OnInitialized()
    {
        Model ??= new();
        _editContext = new(Model);
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            await _authenticationService.SignIn(Model.Email, Model.Password);
            _navigationManager.NavigateTo("/");
        } catch (Exception ex)
        {
            _errorMessage = ex.Message;
        }
    }
}
