@page "/signup"

<div class="main px-4 py-4">
    <h4>Sign Up</h4>
    <EditForm EditContext="@editContext"
              OnValidSubmit="@OnValidSubmit"
              class="mb-2 d-flex flex-column w-50">
        <DataAnnotationsValidator />

        <div class="form-field my-2 d-flex">
            <label>First Name:</label>
            <InputText @bind-Value="Model!.FirstName"
                       class="rounded-1 border-1 border-dark" />
            <ValidationMessage For="@(()=>Model.FirstName)" />
        </div>
        <div class="form-field my-2 d-flex">
            <label>Last Name:</label>
            <InputText @bind-Value="Model!.LastName"
                       class="rounded-1 border-1 border-dark" />
            <ValidationMessage For="@(()=>Model.LastName)" />
        </div>
        <div class="form-field my-2 d-flex">
            <label>E-mail:</label>
            <InputText @bind-Value="Model!.Email"
                       class="rounded-1 border-1 border-dark" />
            <ValidationMessage For="@(()=>Model.Email)" />
        </div>
        <div class="form-field my-2 d-flex">
            <label>Password:</label>
            <InputText @bind-Value="Model!.Password" type="password"
                       class="rounded-1 border-1 border-dark" />
            <ValidationMessage For="@(()=>Model.Password)" />
        </div>
        <button type="submit"
                class="d-flex w-100 py-1 px-2 bg-success text-white border-1 border-dark rounded-1">
            Submit
        </button>
    </EditForm>
    <p>Already have an account? <a href="/signin">Sign In here</a></p>
</div>

@code {
    private EditContext? editContext;
    public SignUpDTO? Model { get; set; }

    protected override void OnInitialized()
    {
        Model ??= new();
        editContext = new(Model);
    }

    private async void OnValidSubmit()
    {
            
    }
}
